@import 'colors.scss';

.splash{
    &__wrapper {
        display: flex;
        margin: 0;
        position: absolute;
        gap: 20px;
        top: 50%;
        left: 50%;
        width: 90%;
        height: 100%;
        transform: translate(-50%, -50%);
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__logo {
        max-width: 400px;
        width: 100%;
        filter: $crimson--f
    }
}

.hud {
    &__button {
        width: 70px;
        cursor: pointer;
        filter: $crimson--f;
    }
    
    &__wrapper {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

#hud__playing {
	height: 60px;
	width: 100px;
	filter: $crimson--f;
}

@for $i from 1 through 9 {
	#wave--#{$i} {
		animation: pulse 1s infinite;
		animation-delay: $i * .15s;
	}
}

@keyframes pulse {
	0% {
		transform: scaleY(1);
		transform-origin: 50% 50%;
	}
	
	50% {
		transform: scaleY(.7);
		transform-origin: 50% 50%;
	}
	
	100% {
		transform: scaleY(1);
		transform-origin: 50% 50%;
	}
}